In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv("train.csv",low_memory=False,parse_dates=["YIL_AY"],)

In [3]:
train

,ISLEM_TUTARI,ISLEM_ADEDI,ISLEM_TURU,YIL_AY,SEKTOR,Record_Count,CUSTOMER
0,300.00,1.0,PESIN,201901,BENZIN VE YAKIT ISTASYONLARI,19,219
1,555.00,2.0,PESIN,201807,BIREYSEL EMEKLILIK,19,219
2,456.50,4.0,PESIN,201712,CESITLI GIDA,19,219
3,29.97,3.0,PESIN,201803,DIGER,19,219
4,42.00,3.0,PESIN,201812,RESTORAN / CATERING,19,219
...,...,...,...,...,...,...,...
2055819,373.50,13.0,PESIN,201811,BENZIN VE YAKIT ISTASYONLARI,19,2079
2055820,172.00,2.0,PESIN,201809,HIZMET SEKTORLERI,19,2079
2055821,214.25,5.0,PESIN,201808,CESITLI GIDA,19,2079
2055822,738.10,10.0,PESIN,201806,RESTORAN / CATERING,19,2079
2055823,316.97,2.0,TAKSITLI,201712,HAVAYOLLARI,19,2079

In [4]:
train.head()

,ISLEM_TUTARI,ISLEM_ADEDI,ISLEM_TURU,YIL_AY,SEKTOR,Record_Count,CUSTOMER
0,300.00,1.0,PESIN,201901,BENZIN VE YAKIT ISTASYONLARI,19,219
1,555.00,2.0,PESIN,201807,BIREYSEL EMEKLILIK,19,219
2,456.50,4.0,PESIN,201712,CESITLI GIDA,19,219
3,29.97,3.0,PESIN,201803,DIGER,19,219
4,42.00,3.0,PESIN,201812,RESTORAN / CATERING,19,219

In [5]:
train["YIL_AY"] = pd.to_datetime(train["YIL_AY"],format="%Y%M")

In [6]:
train["YIL"] = train["YIL_AY"].dt.year

In [7]:
train["AY"] = train["YIL_AY"].dt.month

In [8]:
train.sort_values(by=["YIL","AY"],inplace=True,ignore_index=True)

In [9]:
train.drop("YIL_AY",inplace=True,axis=1)

In [10]:
train.head()

,ISLEM_TUTARI,ISLEM_ADEDI,ISLEM_TURU,SEKTOR,Record_Count,CUSTOMER,YIL,AY
0,456.50,4.0,PESIN,CESITLI GIDA,19,219,2017,1
1,279.94,2.0,PESIN,GIYIM / AKSESUAR,19,219,2017,1
2,180.50,13.0,PESIN,CESITLI GIDA,19,219,2017,1
3,141.50,2.0,PESIN,SAGLIK URUNLERI SATISI,19,219,2017,1
4,138.18,4.0,PESIN,ELEKTRIK-ELEKTRONIK ESYA / BILGISAYAR,19,219,2017,1

In [11]:
train.isnull().sum()

ISLEM_TUTARI    0
ISLEM_ADEDI     0
ISLEM_TURU      0
SEKTOR          0
Record_Count    0
CUSTOMER        0
YIL             0
AY              0
dtype: int64

In [12]:
sektors = train["SEKTOR"].unique()

In [13]:
dummies = pd.get_dummies(train["SEKTOR"],dummy_na= False)

In [14]:
train = pd.concat([train,dummies],axis=1)

In [15]:
train.drop(["SEKTOR"],inplace=True,axis=1)
train.drop(["Record_Count"],inplace=True,axis=1)

In [16]:
train

,ISLEM_TUTARI,ISLEM_ADEDI,ISLEM_TURU,CUSTOMER,YIL,AY,ARAC BAKIM / SERVIS,BENZIN VE YAKIT ISTASYONLARI,BIREYSEL EMEKLILIK,CESITLI GIDA,...,KOZMETIK / GUZELLIK,KULUP / DERNEK / SOSYAL HIZMETLER,KUYUMCULAR,MARKET / ALISVERIS MERKEZLERI,MOBILYA / DEKORASYON,MUTEAHHIT ISLERI,RESTORAN / CATERING,SAGLIK URUNLERI SATISI,TASIMACILIK,TURIZM / KONAKLAMA
0,456.50,4.0,PESIN,219,2017,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,279.94,2.0,PESIN,219,2017,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,180.50,13.0,PESIN,219,2017,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,141.50,2.0,PESIN,219,2017,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,138.18,4.0,PESIN,219,2017,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2055819,136.00,1.0,PESIN,2079,2019,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2055820,619.25,15.0,PESIN,2079,2019,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2055821,341.50,5.0,PESIN,2079,2019,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2055822,54.70,2.0,PESIN,2079,2019,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2055823,582.82,10.0,PESIN,2079,2019,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [17]:
%load_ext autoreload
%autoreload 2

%matplotlib inline

In [18]:
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from IPython.display import display

from sklearn import metrics

In [19]:
import math

In [20]:
import re
from pandas.api.types import is_string_dtype
from pandas.api.types import is_numeric_dtype

In [21]:
 train.dtypes

ISLEM_TUTARI                                  float64
ISLEM_ADEDI                                   float64
ISLEM_TURU                                     object
CUSTOMER                                        int64
YIL                                             int64
AY                                              int64
ARAC BAKIM / SERVIS                             uint8
BENZIN VE YAKIT ISTASYONLARI                    uint8
BIREYSEL EMEKLILIK                              uint8
CESITLI GIDA                                    uint8
DIGER                                           uint8
DIJITAL URUNLER                                 uint8
DOGRUDAN PAZARLAMA                              uint8
EGLENCE / SPOR / HOBI                           uint8
ELEKTRIK-ELEKTRONIK ESYA / BILGISAYAR           uint8
GIYIM / AKSESUAR                                uint8
HAVAYOLLARI                                     uint8
HIZMET SEKTORLERI                               uint8
KITAP-DERGI / KIRTASIYE / OFIS MALZEMELERI      uint8
KOZMETIK / GUZELLIK                             uint8
KULUP / DERNEK / SOSYAL HIZMETLER               uint8
KUYUMCULAR                                      uint8
MARKET / ALISVERIS MERKEZLERI                   uint8
MOBILYA / DEKORASYON                            uint8
MUTEAHHIT ISLERI                                uint8
RESTORAN / CATERING                             uint8
SAGLIK URUNLERI SATISI                          uint8
TASIMACILIK                                     uint8
TURIZM / KONAKLAMA                              uint8
dtype: object

In [22]:
df_compare = train.copy()

In [23]:
# It will convert columns that have string dtypes to pandas category type
def train_cats(df):
    for n,c in df.items():
        if is_string_dtype(c):
            df[n] = c.astype("category").cat.as_ordered()

In [24]:
# train set e train_cats uygulandıktan sonra aynı category değişimlerim olsun diye validation a train e bu uygulanır 
def apply_cats(df, train):
    for n, c in df.items():
        if train[n].dtype == "category":
            df[n] = pd.Categorical(c, categories = train[n].cat.categories, ordered = True)

In [25]:
df = train.copy()

In [26]:
df.head()

,ISLEM_TUTARI,ISLEM_ADEDI,ISLEM_TURU,CUSTOMER,YIL,AY,ARAC BAKIM / SERVIS,BENZIN VE YAKIT ISTASYONLARI,BIREYSEL EMEKLILIK,CESITLI GIDA,...,KOZMETIK / GUZELLIK,KULUP / DERNEK / SOSYAL HIZMETLER,KUYUMCULAR,MARKET / ALISVERIS MERKEZLERI,MOBILYA / DEKORASYON,MUTEAHHIT ISLERI,RESTORAN / CATERING,SAGLIK URUNLERI SATISI,TASIMACILIK,TURIZM / KONAKLAMA
0,456.50,4.0,PESIN,219,2017,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,279.94,2.0,PESIN,219,2017,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,180.50,13.0,PESIN,219,2017,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,141.50,2.0,PESIN,219,2017,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,138.18,4.0,PESIN,219,2017,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
train_cats(df)

In [28]:
train_cats(df_compare)

In [29]:
df["ISLEM_TURU"].cat.categories

Index(['PESIN', 'TAKSITLI'], dtype='object')

In [30]:
df = df.sample(n=150000,random_state=42)
df.sort_values(by=["YIL","AY"],inplace=True,ignore_index=True)

In [31]:
# Missing of the entry can also be a valuable information
# So we will create a column that is False when value is missing
# We encoded missingness in categorical columns so we will just create _na columns for numerical types
def fix_missing(df, col, name):
    if is_numeric_dtype(col):
        if pd.isnull(col).sum:
            df[name+"_na"] = pd.isnull(col)
        df[name] = col.fillna(col.median())

In [32]:
# We will have codes starting from 0 (for missing)
def numericalize(df, col, name):
    if not is_numeric_dtype(col):
        df[name] = col.cat.codes+1

In [33]:
def proc_df(df, y_fld):
    
    y = df[y_fld].values
    df.drop([y_fld], axis = 1, inplace = True)
       
    for n, c in df.items():
        fix_missing(df, c, n)
    for n, c in df.items():
        numericalize(df, c, n)
    
    res = [df, y]
    

    
    return res

In [34]:
df, y = proc_df(df, 'ISLEM_TUTARI')

In [35]:
df_compare, y_compare = proc_df(df_compare, 'ISLEM_TUTARI')

In [36]:
m = RandomForestRegressor(n_jobs=-1)
m.fit(df, y)
m.score(df,y)

0.8771423220649781

In [37]:
# Creating validation set
# It will split our data set to have length n train and len(df) - n validation set
def split_train_val(df,n): 
    
    return df[:n].copy(), df[n:].copy()

In [38]:
n_valid = 15000  
n_train = len(df)-n_valid
X_train, X_valid = split_train_val(df_compare, n_train)
y_train, y_valid = split_train_val(y_compare, n_train)

X_train.shape, y_train.shape, X_valid.shape, y_valid.shape

((135000, 55), (135000,), (1920824, 55), (1920824,))

In [39]:
def print_score(m):
    print(f"R^2 of train set {m.score(X_train, y_train)}")
    print(f"R^2 of validation set {m.score(X_valid, y_valid)}")

In [40]:
# with df_compare, so we don't have additional columns coming from date-time
m = RandomForestRegressor(n_jobs=-1)
%time m.fit(X_train, y_train)
print_score(m)

Wall time: 37.7 s
R^2 of train set 0.82767455894491
R^2 of validation set 0.026609936550875624

In [41]:
train.head()

,ISLEM_TUTARI,ISLEM_ADEDI,ISLEM_TURU,CUSTOMER,YIL,AY,ARAC BAKIM / SERVIS,BENZIN VE YAKIT ISTASYONLARI,BIREYSEL EMEKLILIK,CESITLI GIDA,...,KOZMETIK / GUZELLIK,KULUP / DERNEK / SOSYAL HIZMETLER,KUYUMCULAR,MARKET / ALISVERIS MERKEZLERI,MOBILYA / DEKORASYON,MUTEAHHIT ISLERI,RESTORAN / CATERING,SAGLIK URUNLERI SATISI,TASIMACILIK,TURIZM / KONAKLAMA
0,456.50,4.0,PESIN,219,2017,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,279.94,2.0,PESIN,219,2017,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,180.50,13.0,PESIN,219,2017,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,141.50,2.0,PESIN,219,2017,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,138.18,4.0,PESIN,219,2017,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0